$font-base-family: var(--font-base-family);
$font-base-size-xs: var(--font-base-size-xs);
$font-base-size-sm: var(--font-base-size-sm);
$font-base-size-md: var(--font-base-size-md);
$font-base-size-lg: var(--font-base-size-lg);
$font-base-size-xl: var(--font-base-size-xl);
$font-base-line-height: var(--font-base-line-height);
$font-base-weight: var(--font-base-weight);
$font-display10-size: var(--font-display10-size);
$font-display10-line-height: var(--font-display10-line-height);
$font-display20-size: var(--font-display20-size);
$font-display20-line-height: var(--font-display20-line-height);
$font-display30-size: var(--font-display30-size);
$font-display30-line-height: var(--font-display30-line-height);
$font-display40-size: var(--font-display40-size);
$font-display40-line-height: var(--font-display40-line-height);
$font-display50-size: var(--font-display50-size);
$font-display50-line-height: var(--font-display50-line-height);
$font-display60-size: var(--font-display60-size);
$font-display60-line-height: var(--font-display60-line-height);
$font-heading10-size: var(--font-heading10-size);
$font-heading10-line-height: var(--font-heading10-line-height);
$font-heading20-size: var(--font-heading20-size);
$font-heading20-line-height: var(--font-heading20-line-height);
$font-heading30-size: var(--font-heading30-size);
$font-heading30-line-height: var(--font-heading30-line-height);
$font-heading40-size: var(--font-heading40-size);
$font-heading40-line-height: var(--font-heading40-line-height);
$font-paragraph10-size: var(--font-paragraph10-size);
$font-paragraph10-line-height: var(--font-paragraph10-line-height);
$font-paragraph20-size: var(--font-paragraph20-size);
$font-paragraph20-line-height: var(--font-paragraph20-line-height);
$font-paragraph30-size: var(--font-paragraph30-size);
$font-paragraph30-line-height: var(--font-paragraph30-line-height);
$font-paragraph40-size: var(--font-paragraph40-size);
$font-paragraph40-line-height: var(--font-paragraph40-line-height);
$font-paragraph50-size: var(--font-paragraph50-size);
$font-paragraph50-line-height: var(--font-paragraph50-line-height);
$font-label10-size: var(--font-label10-size);
$font-label10-line-height: var(--font-label10-line-height);
$font-label20-size: var(--font-label20-size);
$font-label20-line-height: var(--font-label20-line-height);
$font-label30-size: var(--font-label30-size);
$font-label30-line-height: var(--font-label30-line-height);
$grid-default-columns: var(--grid-default-columns);
$grid-default-size: var(--grid-default-size);
$grid-default-column-gap-xs: var(--grid-default-column-gap-xs);
$grid-default-column-gap-sm: var(--grid-default-column-gap-sm);
$grid-default-column-gap-md: var(--grid-default-column-gap-md);
$grid-default-column-gap-lg: var(--grid-default-column-gap-lg);
$grid-default-column-gap-xl: var(--grid-default-column-gap-xl);
$grid-default-row-gap-xs: var(--grid-default-row-gap-xs);
$grid-default-row-gap-sm: var(--grid-default-row-gap-sm);
$grid-default-row-gap-md: var(--grid-default-row-gap-md);
$grid-default-row-gap-lg: var(--grid-default-row-gap-lg);
$grid-default-row-gap-xl: var(--grid-default-row-gap-xl);
$grid-full-columns: var(--grid-full-columns);
$grid-full-size: var(--grid-full-size);
$grid-full-column-gap-xs: var(--grid-full-column-gap-xs);
$grid-full-column-gap-sm: var(--grid-full-column-gap-sm);
$grid-full-column-gap-md: var(--grid-full-column-gap-md);
$grid-full-column-gap-lg: var(--grid-full-column-gap-lg);
$grid-full-column-gap-xl: var(--grid-full-column-gap-xl);
$grid-full-row-gap-xs: var(--grid-full-row-gap-xs);
$grid-full-row-gap-sm: var(--grid-full-row-gap-sm);
$grid-full-row-gap-md: var(--grid-full-row-gap-md);
$grid-full-row-gap-lg: var(--grid-full-row-gap-lg);
$grid-full-row-gap-xl: var(--grid-full-row-gap-xl);
$media-query-xs: 0;
$media-query-sm: 768px;
$media-query-md: 1024px;
$media-query-lg: 1440px;
$media-query-xl: 1920px;
$container-default-max-width-xs: var(--container-default-max-width-xs);
$container-default-max-width-sm: var(--container-default-max-width-sm);
$container-default-max-width-md: var(--container-default-max-width-md);
$container-default-max-width-lg: var(--container-default-max-width-lg);
$container-default-max-width-xl: var(--container-default-max-width-xl);
$container-fluid-max-width-xs: var(--container-fluid-max-width-xs);
$container-fluid-max-width-sm: var(--container-fluid-max-width-sm);
$container-fluid-max-width-md: var(--container-fluid-max-width-md);
$container-fluid-max-width-lg: var(--container-fluid-max-width-lg);
$container-fluid-max-width-xl: var(--container-fluid-max-width-xl);
$spacing-xs: var(--spacing-xs);
$spacing-sm: var(--spacing-sm);
$spacing-md: var(--spacing-md);
$spacing-lg: var(--spacing-lg);
$spacing-xl: var(--spacing-xl);
$margin-xs: var(--margin-xs);
$margin-sm: var(--margin-sm);
$margin-md: var(--margin-md);
$margin-lg: var(--margin-lg);
$margin-xl: var(--margin-xl);
$button-size-xs: var(--button-size-xs);
$button-size-sm: var(--button-size-sm);
$button-size-md: var(--button-size-md);
$button-size-lg: var(--button-size-lg);
$button-size-xl: var(--button-size-xl);
$button-border-radius: var(--button-border-radius);
$aside-width: var(--aside-width);
$aside-gap-sm: var(--aside-gap-sm);
$aside-gap-md: var(--aside-gap-md);
$form-default-background-color: var(--form-default-background-color);
$form-default-background-color-disabled: var(--form-default-background-color-disabled);
$form-default-background-color-info: var(--form-default-background-color-info);
$form-default-background-color-error: var(--form-default-background-color-error);
$form-default-color: var(--form-default-color);
$form-default-color-hover: var(--form-default-color-hover);
$form-default-color-disabled: var(--form-default-color-disabled);
$form-default-color-info: var(--form-default-color-info);
$form-default-color-error: var(--form-default-color-error);
$form-default-border: var(--form-default-border);
$form-default-border-width: var(--form-default-border-width);
$form-default-border-color: var(--form-default-border-color);
$form-default-border-color-hover: var(--form-default-border-color-hover);
$form-default-border-color-disabled: var(--form-default-border-color-disabled);
$form-default-border-color-info: var(--form-default-border-color-info);
$form-default-border-color-error: var(--form-default-border-color-error);
$form-default-border-radius: var(--form-default-border-radius);
$form-default-outline: var(--form-default-outline);
$form-default-outline-color-focus: var(--form-default-outline-color-focus);
$form-default-outline-color-active: var(--form-default-outline-color-active);
$form-default-outline-color-error: var(--form-default-outline-color-error);
$form-default-outline-offset: var(--form-default-outline-offset);
$form-default-transition: var(--form-default-transition);
$form-default-field-gap: var(--form-default-field-gap);
$form-default-control-padding: var(--form-default-control-padding);
$form-default-control-font-size: var(--form-default-control-font-size);
$form-default-control-font-weight: var(--form-default-control-font-weight);
$form-default-control-line-height: var(--form-default-control-line-height);
$form-default-label-padding: var(--form-default-label-padding);
$form-default-label-font-size: var(--form-default-label-font-size);
$form-default-label-font-weight: var(--form-default-label-font-weight);
$form-default-label-line-height: var(--form-default-label-line-height);
$form-default-error-margin: var(--form-default-error-margin);
$form-default-error-padding: var(--form-default-error-padding);
$form-default-error-font-size: var(--form-default-error-font-size);
$form-default-error-font-weight: var(--form-default-error-font-weight);
$form-default-error-line-height: var(--form-default-error-line-height);
$form-default-error-border: var(--form-default-error-border);
$form-default-error-background-color: var(--form-default-error-background-color);
$form-default-error-color: var(--form-default-error-color);
$form-negative-background-color-disabled: var(--form-negative-background-color-disabled);
$form-negative-color-hover: var(--form-negative-color-hover);
$form-negative-color-disabled: var(--form-negative-color-disabled);
$form-negative-border-color: var(--form-negative-border-color);
$form-negative-border-color-hover: var(--form-negative-border-color-hover);
$form-negative-border-color-disabled: var(--form-negative-border-color-disabled);
$form-negative-outline-color-focus: var(--form-negative-outline-color-focus);
$form-negative-outline-color-active: var(--form-negative-outline-color-active);
$form-negative-border-width: var(--form-negative-border-width);
$form-negative-border-radius: var(--form-negative-border-radius);
$form-negative-outline-offset: var(--form-negative-outline-offset);
$card-shadow: var(--card-shadow);
$backdrop-opacity: var(--backdrop-opacity);
$border-radius: var(--border-radius);
$shadow-xs: var(--shadow-xs);
$shadow-sm: var(--shadow-sm);
$shadow-md: var(--shadow-md);
$shadow-lg: var(--shadow-lg);
$shadow-xl: var(--shadow-xl);
$transition-smooth: var(--transition-smooth);
$scrollbar-width: var(--scrollbar-width);
$color-neutral-100: var(--color-neutral-100);
$color-neutral-200: var(--color-neutral-200);
$color-neutral-300: var(--color-neutral-300);
$color-neutral-400: var(--color-neutral-400);
$color-neutral-500: var(--color-neutral-500);
$color-neutral-600: var(--color-neutral-600);
$color-neutral-700: var(--color-neutral-700);
$color-neutral-800: var(--color-neutral-800);
$color-neutral-900: var(--color-neutral-900);
$color-neutral-9200: var(--color-neutral-9200);
$color-neutral-9300: var(--color-neutral-9300);
$color-neutral-9400: var(--color-neutral-9400);
$color-primary-100: var(--color-primary-100);
$color-primary-200: var(--color-primary-200);
$color-primary-300: var(--color-primary-300);
$color-primary-400: var(--color-primary-400);
$color-primary-500: var(--color-primary-500);
$color-primary-600: var(--color-primary-600);
$color-primary-700: var(--color-primary-700);
$color-primary-800: var(--color-primary-800);
$color-primary-900: var(--color-primary-900);
$color-cyan-100: var(--color-cyan-100);
$color-cyan-200: var(--color-cyan-200);
$color-cyan-300: var(--color-cyan-300);
$color-cyan-400: var(--color-cyan-400);
$color-cyan-500: var(--color-cyan-500);
$color-cyan-600: var(--color-cyan-600);
$color-cyan-700: var(--color-cyan-700);
$color-cyan-800: var(--color-cyan-800);
$color-cyan-900: var(--color-cyan-900);
$color-cyan-contrast-primary: var(--color-cyan-contrast-primary);
$color-cyan-contrast-secondary: var(--color-cyan-contrast-secondary);
$color-turquoise-100: var(--color-turquoise-100);
$color-turquoise-200: var(--color-turquoise-200);
$color-turquoise-300: var(--color-turquoise-300);
$color-turquoise-400: var(--color-turquoise-400);
$color-turquoise-500: var(--color-turquoise-500);
$color-turquoise-600: var(--color-turquoise-600);
$color-turquoise-700: var(--color-turquoise-700);
$color-turquoise-800: var(--color-turquoise-800);
$color-turquoise-900: var(--color-turquoise-900);
$color-turquoise-contrast-primary: var(--color-turquoise-contrast-primary);
$color-turquoise-contrast-secondary: var(--color-turquoise-contrast-secondary);
$color-green-100: var(--color-green-100);
$color-green-200: var(--color-green-200);
$color-green-300: var(--color-green-300);
$color-green-400: var(--color-green-400);
$color-green-500: var(--color-green-500);
$color-green-600: var(--color-green-600);
$color-green-700: var(--color-green-700);
$color-green-800: var(--color-green-800);
$color-green-900: var(--color-green-900);
$color-green-contrast-primary: var(--color-green-contrast-primary);
$color-green-contrast-secondary: var(--color-green-contrast-secondary);
$color-yellow-100: var(--color-yellow-100);
$color-yellow-200: var(--color-yellow-200);
$color-yellow-300: var(--color-yellow-300);
$color-yellow-400: var(--color-yellow-400);
$color-yellow-500: var(--color-yellow-500);
$color-yellow-600: var(--color-yellow-600);
$color-yellow-700: var(--color-yellow-700);
$color-yellow-800: var(--color-yellow-800);
$color-yellow-900: var(--color-yellow-900);
$color-yellow-contrast-primary: var(--color-yellow-contrast-primary);
$color-yellow-contrast-secondary: var(--color-yellow-contrast-secondary);
$color-orange-100: var(--color-orange-100);
$color-orange-200: var(--color-orange-200);
$color-orange-300: var(--color-orange-300);
$color-orange-400: var(--color-orange-400);
$color-orange-500: var(--color-orange-500);
$color-orange-600: var(--color-orange-600);
$color-orange-700: var(--color-orange-700);
$color-orange-800: var(--color-orange-800);
$color-orange-900: var(--color-orange-900);
$color-orange-contrast-primary: var(--color-orange-contrast-primary);
$color-orange-contrast-secondary: var(--color-orange-contrast-secondary);
$color-red-100: var(--color-red-100);
$color-red-200: var(--color-red-200);
$color-red-300: var(--color-red-300);
$color-red-400: var(--color-red-400);
$color-red-500: var(--color-red-500);
$color-red-600: var(--color-red-600);
$color-red-700: var(--color-red-700);
$color-red-800: var(--color-red-800);
$color-red-900: var(--color-red-900);
$color-red-contrast-primary: var(--color-red-contrast-primary);
$color-red-contrast-secondary: var(--color-red-contrast-secondary);
$color-purple-100: var(--color-purple-100);
$color-purple-200: var(--color-purple-200);
$color-purple-300: var(--color-purple-300);
$color-purple-400: var(--color-purple-400);
$color-purple-500: var(--color-purple-500);
$color-purple-600: var(--color-purple-600);
$color-purple-700: var(--color-purple-700);
$color-purple-800: var(--color-purple-800);
$color-purple-900: var(--color-purple-900);
$color-purple-contrast-primary: var(--color-purple-contrast-primary);
$color-purple-contrast-secondary: var(--color-purple-contrast-secondary);
$color-blue-violet-100: var(--color-blue-violet-100);
$color-blue-violet-200: var(--color-blue-violet-200);
$color-blue-violet-300: var(--color-blue-violet-300);
$color-blue-violet-400: var(--color-blue-violet-400);
$color-blue-violet-500: var(--color-blue-violet-500);
$color-blue-violet-600: var(--color-blue-violet-600);
$color-blue-violet-700: var(--color-blue-violet-700);
$color-blue-violet-800: var(--color-blue-violet-800);
$color-blue-violet-900: var(--color-blue-violet-900);
$color-blue-violet-contrast-primary: var(--color-blue-violet-contrast-primary);
$color-blue-violet-contrast-secondary: var(--color-blue-violet-contrast-secondary);
$color-success-100: var(--color-success-100);
$color-success-200: var(--color-success-200);
$color-success-300: var(--color-success-300);
$color-success-400: var(--color-success-400);
$color-success-500: var(--color-success-500);
$color-success-600: var(--color-success-600);
$color-success-700: var(--color-success-700);
$color-success-800: var(--color-success-800);
$color-success-900: var(--color-success-900);
$color-warning-100: var(--color-warning-100);
$color-warning-200: var(--color-warning-200);
$color-warning-300: var(--color-warning-300);
$color-warning-400: var(--color-warning-400);
$color-warning-500: var(--color-warning-500);
$color-warning-600: var(--color-warning-600);
$color-warning-700: var(--color-warning-700);
$color-warning-800: var(--color-warning-800);
$color-warning-900: var(--color-warning-900);
$color-danger-100: var(--color-danger-100);
$color-danger-200: var(--color-danger-200);
$color-danger-300: var(--color-danger-300);
$color-danger-400: var(--color-danger-400);
$color-danger-500: var(--color-danger-500);
$color-danger-600: var(--color-danger-600);
$color-danger-700: var(--color-danger-700);
$color-danger-800: var(--color-danger-800);
$color-danger-900: var(--color-danger-900);

$grid-columns: var(--grid-columns);
$grid-size: var(--grid-size);
$grid-column-gap: var(--grid-column-gap);
$grid-row-gap: var(--grid-row-gap);
$container-max-width: var(--container-max-width);
$form-background-color: var(--form-background-color);
$form-background-color-disabled: var(--form-background-color-disabled);
$form-background-color-info: var(--form-background-color-info);
$form-background-color-error: var(--form-background-color-error);
$form-color: var(--form-color);
$form-color-hover: var(--form-color-hover);
$form-color-disabled: var(--form-color-disabled);
$form-color-info: var(--form-color-info);
$form-color-error: var(--form-color-error);
$form-border: var(--form-border);
$form-border-width: var(--form-border-width);
$form-border-color: var(--form-border-color);
$form-border-color-hover: var(--form-border-color-hover);
$form-border-color-disabled: var(--form-border-color-disabled);
$form-border-color-info: var(--form-border-color-info);
$form-border-color-error: var(--form-border-color-error);
$form-border-radius: var(--form-border-radius);
$form-outline: var(--form-outline);
$form-outline-color-focus: var(--form-outline-color-focus);
$form-outline-color-active: var(--form-outline-color-active);
$form-outline-color-error: var(--form-outline-color-error);
$form-outline-offset: var(--form-outline-offset);
$form-transition: var(--form-transition);
$form-field-gap: var(--form-field-gap);
$form-control-padding: var(--form-control-padding);
$form-control-font-size: var(--form-control-font-size);
$form-control-font-weight: var(--form-control-font-weight);
$form-control-line-height: var(--form-control-line-height);
$form-label-padding: var(--form-label-padding);
$form-label-font-size: var(--form-label-font-size);
$form-label-font-weight: var(--form-label-font-weight);
$form-label-line-height: var(--form-label-line-height);
$form-error-margin: var(--form-error-margin);
$form-error-padding: var(--form-error-padding);
$form-error-font-size: var(--form-error-font-size);
$form-error-font-weight: var(--form-error-font-weight);
$form-error-line-height: var(--form-error-line-height);
$form-error-border: var(--form-error-border);
$form-error-background-color: var(--form-error-background-color);
$form-error-color: var(--form-error-color);
